      <footer class="footer">
        <p><small>&copy; <%= Time.new.year %>
          <a href="https://github.com/globewalldesk">Larry Sanger</a>, written
            in Ruby, Sinatra, JS, CSS, Sass, and Bootstrap.
            <a href="https://github.com/globewalldesk/Mastermind">Code
            here</a>.</small>
        </p>
        <nav>
          <ul>
            <li><a href="https://en.wikipedia.org/wiki/Mastermind_(board_game)">
                Wikipedia</a></li>
            <li><a href="https://boardgamegeek.com/boardgame/2392/mastermind">
                BoardGameGeek</a></li>
            <li><a href="https://www.youtube.com/watch?v=rmp05sCXTRg">How to
                play</a></li>
            <li>About Mastermind:</li>
          </ul>
        </nav>
      </footer>
    </div> <!-- end of Bootstrap div -->
    <%= erb :erby_javascript %>
  </body>
</html>
