<div class="gamechooser well well-sm">
  <div class="choosetext">Click to restart game</div>
  <form action="/restart" method="post">
    <div class="btn-group btn-group-lg">
      <button class="btn btn-success" type="submit" name="restart" value="2">2 pegs</button>
      <button class="btn btn-primary" type="submit" name="restart" value="3">3 pegs</button>
      <button class="btn btn-danger" type="submit" name="restart" value="4">4 pegs</button>
    </div>
  </form>
</div>
