<div class="row pegrow">
  <div class="pegcell empty"></div>
  <form class="guessform" method="post" action="/guess">
    <% for i in 0..(@gamehash.codelength - 1) %>
      <div class="pegcell active-cell" onclick="nextColor(<%= i %>)"
        onmouseover="showGuide()" onmouseout="hideGuide()">
        <div id="peg<%= i %>" class="hole center-block">
          <input type="hidden" id="pegSubmit<%= i %>" name="peg<%= i %>" value="">
        </div>
      </div>
    <% end %>
    <div class="resultbox">
      <button class="icon-button" type="submit">
        <span class="glyphicon glyphicon-ok"></span>
      </button>
    </div>
  </form>
</div>
