<%= erb :header %>
      <div id="board">
        <div class="row pegrow guessrow">
          <%= erb :guessrow %>
        </div>
        <%= erb :oldrows %>
      </div>
<br>
      Remember to include < output > around your output!
<%= erb :footer %>
